<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/img/noite_estrelada.jpg"/>
  <p>Noite estrelada é uma pintura de Vincent<br />
    Van Gogh de 1889.A obra retrata a vista<br />
    da janela de um quarto do hospício de<br />
  Saint-Rémy-de-Provence.</p>
  <ion-button size="large" shape="round" color ="dark"[routerLink]="['/pagina2']" routerDirection="forward"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  <ion-button size="large" shape="round" color ="dark"[routerLink]="['/pagina5']" routerDirection="forward"><ion-icon name="search"></ion-icon></ion-button>
  <ion-button size="large" shape="round" color ="dark"[routerLink]="['/pagina6']" routerDirection="forward"><ion-icon name="close"></ion-icon></ion-button>
</ion-content>
