<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/img/mestreVitalino.jpg"/>
  <p>Escultura de mestre Vitalino criada em 1960 com a técnica cerâmica policromada</p>
  <ion-button size="large" shape="round" color ="dark"[routerLink]="['/pagina4']" routerDirection="forward"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
  <ion-button size="large" shape="round" color ="dark"[routerLink]="['/pagina4']" routerDirection="forward"><ion-icon name="search"></ion-icon></ion-button>
  <ion-button size = "large"shape="round" color ="dark"[routerLink]="['/pagina6']" routerDirection="forward"><ion-icon name="close"></ion-icon></ion-button>
  
</ion-content>
